.bg-033363 {
  background: #033363;
}
.fsize16 {
  font-size: 16px;
}
.family-lato {
  font-family: lato;
}
.text-033363 {
  color: #033363;
}
.fsize12 {
  font-size: 12px;
}

.bg-F05D29 {
  background-color: #f05d29;
}
.bg-818181 {
  background-color: #818181;
}
.left-chips {
  width: 112px;
  height: 18px;
  border-radius: 3px;
}
.topright-in {
  top: 5px;
  right: 5px;
}
.fsize14 {
  font-size: 14px;
}
.text-lefttop {
  bottom: 5px;
  left: 10px;
}
.rounded-b-3px {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fsize22 {
  font-size: 22px;
}
.text-D70909 {
  color: #d70909;
}
.w-40px {
  width: 40px;
}
.h-40px {
  height: 40px;
}
.avatar-topleft {
  top: 8px;
  left: 6px;
}
.vc-weekday {
  color: #0c5aa5 !important;

  font-weight: 700 !important;
  border-bottom: 1px solid #80808040;
  padding-bottom: 15px !important;
  margin-bottom: 1rem !important;
  margin-top: 1.5rem !important;
}
.vc-day-content:focus {
  background-color: rgb(10 90 165) !important;
  color: #fff !important;
  border-radius: 3px !important;
}
.vc-day-content:hover {
  background-color: rgb(10 90 165) !important;
  color: #fff !important;
  border-radius: 3px !important;
}
.neg-ml {
  margin-left: -4px;
}
.bg-border-box {
  background: #fafafc;
  border: 1px solid #f5f5f5;
}
.border-r {
  border-right: 1px solid #70707036;
}
.bg-0B5AA5 {
  background-color: #0b5aa5;
}
.rounded-2px {
  border-radius: 2px;
}
.text-0B5AA5 {
  color: #0b5aa5;
}
.pd10px5 {
  padding: 4px 9px;
}
.rounded-3px {
  border-radius: 3px;
}
.text-D70909 {
  color: #d70909;
}
.bg-D70909 {
  background-color: #d70909;
}
.shadow-accordion {
  box-shadow: 0px 1px 4px #0000001f;
}
.border-0B5AA5 {
  border: 1px solid #0b5aa5;
}
.dolor-chip {
  border-radius: 17px;
  padding: 2px 7px;
  width: 17px;
}
.max-w-full {
  max-width: 100% !important;
}
.border-r-mute {
  border-right: 1px solid #707070;
}
.fsize13 {
  font-size: 13px;
}
.head-sp-full .vsa-item__trigger__content {
  width: 100%;
}
.fsize20 {
  font-size: 20px;
}
.uploader-box {
  border: 3px dashed #7070702e;
  border-radius: 3px;
}
.bg-21BA45 {
  background-color: #21ba45;
}
.bg-FAFAFC {
  background-color: #fafafc !important;
}
.border-b {
  border-bottom: 1px solid #70707036;
}
.bg-CFAB00 {
  background-color: #cfab00;
}
.text-CFAB00 {
  color: #cfab00;
}

.bg-E27700 {
  background-color: #e27700;
}
.text-E27700 {
  color: #e27700;
}

.bg-48AC00 {
  background-color: #48ac00;
}
.text-48AC00 {
  color: #48ac00;
}

.bg-666666 {
  background-color: #666666;
}
.text-666666 {
  color: #666666;
}
.text-0053AB {
  color: #0053ab;
}
.vc-container.vc-blue {
  width: 100%;
  border: none;
}
.vc-arrows-container.title-left {
  justify-content: space-between !important;
}
.vc-header.align-left {
  justify-content: center !important;
}
.vc-arrow.is-left {
  border-radius: 20px;
  border: 1px solid #dedede;
}
.vc-arrow.is-right {
  border-radius: 20px;
  border: 1px solid #dedede;
}

.icon-border-all {
  border: 1px solid #80808059;
}
.border-box-l {
  border: 1px solid #7070703d;
}
.left-16-h {
  left: 16.5%;
}
/* scrollbar */
.custom-scrollbar {
  overflow-y: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
}
.mt-2px {
  margin-top: 2px;
}
/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f1f1f100;
}
.custom-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}
